body {
  background-color: coral;
}

.head {
  color: darkblue;
}

h1 { font-size: 16px; }
h3 { font-size: 8px; }

#bglime {
  background-color: #72ff72;
}

#bglime span {
  color: red;
}

p {
  color: white;
  font-size: 14px;
}

#para {
  color: green;
  font-size: 10px;
}

p span {
  color: black;
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

ul li {
  color: white;
  font-size: 8px;
}

a {
  color: white;
  text-decoration: none;
}
li:first-child a {
  background-color: yellow;
}
li:nth-child(2) a {
  background-color: blue;
}

ol li {
  font-size: 8px;
}
ol li:nth-child(2) {
  color: blue;
}
ol li:nth-child(3) {
  color: red;
}
